---
title: Global Bridge App
language_tabs:
toc_footers:
  - '<a href="https://storage.cloud.google.com/gba-docs/index.html">Back to main site</a>'
includes: []
search: true
highlight_theme: darkula
---

# Global Bridge App Api Portal

```markdown

```
```markdown

```

* Global Bridge App

{{#homeView}}
## {{info.title}}

* [Shins](./{{info.title}}/slate/index.html) Slate/MD | Several Code Samples

{{#openapi}}
* [Swagger](https://editor.swagger.io/?url=https://storage.cloud.google.com/gba-docs/{{info.title}}/openapi.yaml) Editor | TryOut Live feature | Generators

{{#info.x-postman}}
* [![Run in Postman](https://run.pstmn.io/button.svg)](https://app.getpostman.com/run-collection/{{info.x-postman.id}})
{{/info.x-postman}}

* [ReDoc](./dds/redoc/index.html) HTML | Several Code Samples
{{/openapi}}

{{#asyncapi}}
* [AsyncApi Playground](https://playground.asyncapi.io?load=https://storage.cloud.google.com/gba-docs/{{info.title}}/asyncapi.yaml) Editor | Generators | Pub/Sub viewer

* [AsyncApi HTML](./play-engine/html/index.html) HTML
{{/asyncapi}}
{{/homeView}}